<div class="modal-error">
    <div class="modal-header">
        <h3 class="modal-title">Server Error!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <p>Server error occurred while executing your query.</p>
    </div>
    <div class="modal-footer">
        <a class="modal-link" type="button" ng-click="$ctrl.cancel()">Got it!</a>
    </div>
</div>