// Heading Styling
.community-h1{
  font-size: 64px;
  font-weight: @light;
  letter-spacing: 0;
}
.community-h1__mod{
  font-size: 27px;
  font-weight: @light;
}
@media only screen and (max-width: @screenPhoneSize) {
  .community-h1 {
    font-size: 32px;
    font-weight: @light;
    letter-spacing: 0;
  }
}
// Heading Styling End