// Footer
#footer{
  background-color: @ASMBlue;
  color: @DimGrey ;
}

#footer {
  color: #444;
  padding: 60px 40px;
  position: absolute;
  width: 100%;

  img{
    width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }

  .footer-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:hover{
      opacity: 0.75;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
    }
  }

  a, p{
    display: inline-block;
    color: #C3C3C3;
    font-size: 13px;
    cursor: pointer;
  }
  .footer-menu{
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.15);
    padding-top: 20px;
  }
}

#footer .container{
  background: #777;

}

#footer-menu {
  float: left;
  font-size: 100%;
  line-height: 30px;
}

#footer.categories #footer-menu {
  /*margin-bottom: 1.5em;*/
  line-height: 1.7em;
}

.top-footer-links a{
  color: #fff!important;
  margin: 0 .8em 0 0;
}