// Prompt Styling
.prompt{
  position: absolute;
  z-index: 1001;
  text-align: left;
  white-space: normal;
  background-clip: padding-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  border-radius: 6px;
  top: 66px;
  left: 15px;
  margin-top: 10px;
  border: 5px solid #4b4b4b;
  background-color: #4b4b4b;
  max-width: 400px ;
  padding-top: @sp10;
  padding-bottom: @sp10;

  &:after{
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #4b4b4b;
    border-width: 15px;
    margin-left: -30px;
  }


  .prompt-body{
    padding: 0 @sp10 0 @sp10;
    .prompt-title{
      h3{
        margin: 0 0 @sp10 0;
        display: inline-block;
        color: @CoralOrange;
        background-color: #4b4b4b;
        border-bottom: 1px solid #4b4b4b;
        font-weight: bold;
        font-size: 16px;
      }
    }
    i{
      display: inline-block;
      color: @WhiteSmoke;
      float: right;
      font-size: 20px;
      &:hover{
        cursor: pointer;
      }
    }
    .prompt-content{
      background-color: #4b4b4b;
      padding-top: @sp5;
      color: @WhiteSmoke;
      font-size: 14px;
      font-weight: @extraLight;
    }
  }
  .prompt-footer{
    float: right;
    padding-top: @sp10;
    text-decoration: underline;
    color: @WhiteSmoke;
    font-weight: @bold ;
    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
  }
}
// Prompt Styling End
