// Desktop Default Styling
.profile{
  padding-top: 100px;
  padding-bottom: 75px;
  .profile-title{
    padding-bottom: 20px;
    border-bottom: 1px solid #d5d5d5;
    color: @DarkGrey;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .profile-name{
    color: @DarkGrey;
    font-size: 64px;
    font-weight: 200;
    letter-spacing: -1px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .profile-detail-row{
    margin-bottom:14px;
  }

  .profile-detail-icon{
    font-size: 18px;
    margin-right:15px;
  }

  .profile-detail-head{
    font-weight: bold;
    font-size: 13px;
  }

  .profile-detail-username{
    color: @DarkGrey;
  }

  .mentor-label {
    width: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
    border-radius: 3px;
    background-color: @LimeGreen;
    color: @White;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .mentor-over{
    width: 80px;
    margin: 0px auto 0px 30px;
    float: left;
    font-size: 11px;
    font-weight: 500;
  }
  .mentor-only{
    margin: 0px auto 0px 85px;
  }
  .instructor-over {
    width: 100px;
    background-color: #0098ff;
    font-size: 11px;
    font-weight: 600;
  }
  .instructor-only{
    margin: 0px auto 0px 75px;
  }

  .profile-img-wrapper {
    height: 150px;
    margin-top: 40px;
    width:250px;
    text-align: center;
    margin-left: 0px;
  }

  .profile-img {
    border-radius: 60px;
    width:150px;
  }

  .user-roles-wrapper{
    top: -10px;
    position: relative;
  }
  .profile-bio{
    margin-top: 50px;
    padding-left: 10px;
    color: @DarkGrey;
    font-size: 15px;
    font-style: italic;
    line-height: 26px;
  }

  .profile-user-stats{
    margin-top: 52px;
    margin-left: 10px;
    height: 100px;
  }

  .line-right{
    border-right: 1px solid hsla(0, 0%, 83%, .5);
    padding-right: 15px;
  }

  .stats{
    float:left;
    position: relative;
  }

  .number-large{
    color: @LightGrey;
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
    text-align: center;
  }

  .number-data{
    margin-top: 10px;
    color: @DimGrey;
    font-size: 10px;
    line-height: 15px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .left-space{
    padding-left: 15px;
  }
}