.tooltip{
  border-radius: @borderRadiusBase;
  .tooltip-inner{
    background-color: @DarkGrey;
  }
  .tooltip-arrow{
    border-bottom-color: @DarkGrey;
    border-top-color: @DarkGrey;
  }
}

.tooltip.top{
  .tooltip-arrow{
    border-bottom-color: @DarkGrey;
    border-top-color: @DarkGrey;
  }
}