<div id="footer" class="categories">
    <div class="row">
        <a  class="footer-logo" ng-href="{{dashboardUrl}}">
            <img src="../../../img/orange%20logo.png">
        </a>
        <div class="col-md-12 footer-menu">
            <a ng-href="{{dashboardUrl}}">© 2017 Amazing.com |</a>
            <a ng-href="{{termsUrl}}">Terms |</a>
            <a ng-href="{{privacyUrl}}">Privacy |</a>
            <a  href="https://jv.amazingsellingmachine.com" target="_blank">Partners</a>
        </div>
    </div>
</div>