<div class="container profile">
    <div class="row">
        <div class="col-md-12 ">
            <div class="profile-title">profile details</div>
        </div>
    </div>
    <div class="row main-container">
        <div class="col-md-4 col-sm-4">
            <div class="profile-img-wrapper">
                <img class="profile-img" ng-if="vm.profileData.avatar" ng-src="{{::vm.profileData.avatar}}">
                <img ng-if="!vm.profileData.avatar"  ng-src="img/defaultAvatar.png">

                <div class="user-roles-wrapper">
                    <div class="mentor-label mentor-over"
                         ng-class="{'mentor-only': vm.profileData.instructor === false}"
                         ng-show="vm.profileData.mentor === true">Mentor</div>
                    <div class="mentor-label instructor-over"
                         ng-class="{'instructor-only': vm.profileData.mentor === false}"
                         ng-show="vm.profileData.instructor === true">Instructor</div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8">
            <div class="row">
                <div class="col-md-12 ">
                    <h2 class="profile-name">{{::vm.profileData.name}}</h2>
                </div>
            </div>
            <div class="row profile-detail-row">
                <div class="col-md-12 ">
                   <span class="profile-detail-icon icon-user-contact"></span><span class="profile-detail-head">Username:</span>
                    <span class="profile-detail-body profile-detail-username">@{{::vm.profileData.username}}</span>
                </div>
            </div>
            <div class="row profile-detail-row" ng-if="vm.profileData.location !== ''">
                <div class="col-md-12 ">
                    <span class="profile-detail-icon icon-location-map-1"></span><span class="profile-detail-head">Location:</span>
                    <span class="profile-detail-body">{{::vm.profileData.location}}</span>
                </div>
            </div>
            <div class="row profile-detail-row">
                <div class="col-md-12 ">
                    <span class="profile-detail-icon icon-calendar-1"></span><span class="profile-detail-head">Date Joined:</span>
                    <span class="profile-detail-body">{{::vm.profileData.dateJoined}}</span>
                </div>
            </div>
            <div class="row profile-detail-row" ng-if="vm.profileData.email !== undefined">
                <div class="col-md-12 ">
                    <span class="profile-detail-icon icon-email-inbox"></span><span class="profile-detail-head">Email:</span>
                    <span class="profile-detail-body">{{::vm.profileData.email}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 profile-bio">
                    <span>{{::vm.profileData.biography}}</span>
                </div>
            </div>
        </div>
    </div>
</div>