<div class="subsystem-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="subsystem-heading">Questions &amp; Answers</h1>
            </div>
        </div>
    </div>
</div>

<div class="action-menu-mobile-search hidden-lg hidden-md" ng-if="!hideSearch || !hideAsk">
    <div class="container">
        <div class="row">
            <div class="action-menu-search" ng-if="!hideSearch" ng-class="{'col-sm-12': hideAsk, 'col-sm-7': !hideAsk}">
                <div class="input-group">
                    <input type="text" id="search2" name="search2" placeholder="Search questions" class="form-control az-form-control az-form-control-sm" ng-model="searchQuery.term" ng-keyup="$event.keyCode == 13 ? search() : null" />
                        <span class="input-group-btn">
                            <button class="btn com-btn com-btn--primary com-btn--small" ng-click="search()">Search</button>
                        </span>
                </div>
            </div>

            <div class="action-menu-ask" ng-if="!hideAsk" ng-class="{'col-sm-12': hideSearch, 'col-sm-5': !hideSearch}">
                <button class="com-btn com-btn--secondary com-btn--small" ng-class="{'pull-left': hideSearch, 'pull-right': !hideSearch}" ng-click="goToAskQuestion()">Ask a Question</button>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-static-top action-menu" ng-class="{'action-menu-fixed': fixMenu}" role="navigation">
    <div class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="row action-menu-items" id="bs-example-navbar-collapse-2">
            <div class="col-md-7 col-sm-12">
                <ul class="nav navbar-nav">
                    <li ng-repeat="item in menuItems" ng-class="{'active-item' : item.active}">
                        <a class="questions-head-button-active"
                           ui-sref="{{::item.link}}">
                            {{::item.text}}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="hidden-sm hidden-xs action-menu-search clear-padding-left clear-padding-right" ng-if="!hideSearch" ng-class="{'col-md-5': hideAsk, 'col-md-3': !hideAsk}">
                <div class="input-group">
                    <input type="text" id="search1" name="search1" placeholder="Search questions" class="form-control az-form-control az-form-control-sm" ng-model="searchQuery.term" ng-keyup="$event.keyCode == 13 ? search() : null" />
                    <span class="input-group-btn">
                        <button class="btn com-btn com-btn--primary com-btn--small" ng-click="search()">Search</button>
                    </span>
                </div>
            </div>

            <div class="input-group hidden-sm hidden-xs action-menu-ask" ng-if="!hideAsk"  ng-class="{'col-md-5': hideSearch, 'col-md-2': !hideSearch}">
                <button class="com-btn com-btn--secondary com-btn--small pull-right" ng-click="goToAskQuestion()">Ask a Question</button>
            </div>
        </div>
    </div>
</nav>
