<div class="modal-body modal-sm modal-lg video-modal">
    <div class="modal-header">
        <h3 class="modal-title">Tips For Asking A Good Question</h3>
        <span ng-click="$ctrl.cancel()"><i class="icon-close"></i></span>
    </div>
    <youtube-video player-width="'100%'"  video-url="'https://youtu.be/--jEwG19epg'"></youtube-video>
</div>
